@model Dish
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <h4>@Model.Name</h4>
            </div>
            <div class="d-flex justify-content-center">
                <img src="@Model.ImageUrl" style="width: 50%" />
            </div>
            <div class="d-flex justify-content-center">
                <h6>@Model.Price Dollars</h6>
            </div>
            <div class="d-flex justify-content-center">
                <ul>
                    @foreach (var item in Model.DishIngredients)
                    {
                        <li>@item.Ingredient.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <a class="btn btn-danger" asp-action="Index">Back</a>
</div>